/DbServer/Debug/*.tlog
/DbServer/Debug/*.obj
/DbServer/Debug/*.lastbuildstate
/DbServer/Debug/*.log
/DbServer/Debug/*.cache
/DbServer/Debug/*.idb
/DbServer/Debug/*.pdb
/Router/Debug/*.tlog
/Router/Debug/*.lastbuildstate
/Router/Debug/*.log
/Router/Debug/*.obj
/Router/Debug/*.idb
/Router/Debug/*.pdb
/bin/*.lib
/exe/db/*.exe
/exe/db/*.ilk
/exe/db/*.pdb
/exe/game/*.exe
/exe/game/*.ilk
/exe/game/*.pdb
/exe/robot/*.exe
/exe/robot/*.ilk
/exe/robot/*.pdb
/exe/router/*.exe
/exe/router/*.ilk
/exe/router/*.pdb
/exe/*.bat
/game/Debug/*.tlog
/game/Debug/*.lastbuildstate
/game/Debug/*.log
/game/Debug/*.obj
/game/Debug/*.cache
/game/Debug/*.idb
/game/Debug/*.pdb
/libCore/Debug/*.tlog
/libCore/Debug/*.obj
/libCore/Debug/*.lastbuildstate
/libCore/Debug/*.log
/libCore/Debug/*.idb
/libCore/Debug/*.pdb
/libCore/*.opensdf
/libCore/*.sdf
